
@{

    IEnumerable<Key> Keys = ViewData["keys"] as IEnumerable<Key>;
    User CurrentUser = ViewData["user"] as User;

}

<h4 class="display-4">User: @CurrentUser.Username Profile</h4>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                First name
            </th>
            <th>
                Second name
            </th>
            <th>
                Mail
            </th>
            <th>
                Username
            </th>
        <tr>
            <td>
                @CurrentUser.FirstName
            </td>
            <td>
                @CurrentUser.SecondName
            </td>
            <td>
                @CurrentUser.Mail
            </td>
            <td>
                @CurrentUser.Username
            </td>
        </tr>
    </thead>
</table>



<table class="table">
    <thead>
        <tr>
            <th>
                Certificate id
            </th>
            <th>
                Certificate name
            </th>
            <th>
                Description
            </th>
            <th>
                Key Size
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Keys)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KeyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertificateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeySize)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KeyId">Edit</a> |
                <a asp-action="DeleteCertificate" asp-route-id="@item.KeyId">Delete</a>
            </td>
        </tr>

        }
    </tbody>
</table>