
@{
    @model IEnumerable<Trustme.Models.Key>

   @model Trustme.Models.User

}

<h4 class="display-4">User: @Html.DisplayFor(modelItem => modelItem.username) Profile</h4>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.secondName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.secondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.username)
            </td>
        </tr>
    </thead>
</table>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KeyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.certificateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KeyId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.certificateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
            </tr>
        }
    </tbody>
</table>