@model SignedDocumentsViewModel
@{
    ViewData["Title"] = "Signed Documents Details";
    TempData["Documents"] = "active";
    TempData["SActiveTab"] = "active";
}
<partial name="_Tabs" />

@{
    ViewData["Title"] = "Signed Document Details";
}

<br />

<div class="card border-secondary mb-3">
    <div class="card-header text-secondary">
        <a class="btn btn-outline-primary float-left" asp-controller="SignedDocuments" asp-action="Download" asp-route-id="@Model.IdSignedDocument">
            Download
        </a>

    </div>
    <div class="card-body">
        <div class="form-group">
            Signed by username:
            @Model.SignedByUsername
        </div>
        <div class="form-group">
            Sent from username:
            @Model.SentFromUsername
        </div>
        <div class="form-group">
            File Name:
            @Model.Name
        </div>
        <div class="form-group">
            Upload time:
            @Model.SentTime
        </div>
        <div class="form-group">
            Signed time:
            @Model.SignedTime
        </div>
        <div class="form-group">
            Signed with key:
            <strong>@Model.KeyName</strong>
        </div>
        <div class="form-group">
            Signature:
            <textarea class="form-control" name="Signature" readonly>@Model.Signature</textarea>
        </div>
    </div>
</div>
<br>