@model SignedDocumentsViewModel

<div class="card">
    <div class="card-header">
        Signed by username:
        @Model.SignedByUsername
        <br />
        Sent from username:
        @Model.SentFromUsername
        <a class="float-right" asp-controller="SignedDocuments" asp-action="DeleteDocument" asp-route-id="@Model.IdSignedDocument">
            Delete
        </a>
    </div>
    <div class="card-body">
        <div class="form-group">
            File Name:
            @Model.Name
        </div>
        <div class="form-group">
            Upload time:
            @Model.SentTime
        </div>
        <div class="form-group">
            Signed time:
            @Model.SignedTime
        </div>
        <div class="form-group">
            Signature:
            <textarea class="form-control" name="Signature">@Model.Signature</textarea>
        </div>
    </div>
</div>
<br>