@model UnsignedDocument 


<form asp-action="Sign" method="get">
    <input type="hidden" name="IdUnsignedDocument" value=@Model.IdUnsignedDocument id="IdUnsignedDocument" />
    <div class="card">

        <div class="card-header">
            Sent from username:
            @Model.SentFromUsername

            <a class="float-right" asp-controller="SignDocuments" asp-action="DeleteDocument" asp-route-id="@Model.IdUnsignedDocument">
                Delete
            </a>

        </div>
        <div class="card-body">
            <div class="form-group">
                File Name:
                @Model.Name
            </div>
            <div class="form-group">
                Document sent time:
                @Model.SentTime
            </div>

            <p class="card-text"><strong>Key you need to sign with: @Model.KeyPreference </strong></p>
            <div class="form-group">
                <input type="submit" value="Sign" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <br>

</form>