@model UnsignedDocument


<form asp-action="Sign" method="get">
    <input type="hidden" name="IdUnsignedDocument" value=@Model.IdUnsignedDocument id="IdUnsignedDocument" />
    <div class="card border-secondary mb-3">
        <div class="card-header text-secondary">
            <a class="float-left" asp-controller="SignDocuments" asp-action="Download" asp-route-id="@Model.IdUnsignedDocument">
                Download
            </a>
            @*<a class="float-right" onclick="ConfirmDelete(@Model.IdUnsignedDocument, @Model.Name)" asp-controller="SignDocuments" asp-action="">
                Delete
            </a>*@
            <button type="button" class="btn btn-primary float-right" onclick="ConfirmDelete(@Model.IdUnsignedDocument, '@Model.Name')">Delete</button>
        </div>
        <div class="card-body">
            <div class="form-group">
                Sent from username:
                @Model.SentFromUsername
            </div>
            <div class="form-group">
                File Name:
                @Model.Name
            </div>
            <div class="form-group">
                Document Upload time:
                @Model.SentTime
            </div>

            <p class="card-text">Key you need to sign with: <strong>@Model.KeyPreference</strong> </p>
            <div class="form-group">
                <input type="submit" value="Sign" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <br>

</form>

