@model RoleUserModel
@{
    var id = Model.User.UserId;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.js" />
<link rel="stylesheet" href="~/lib/jquery/jquery.min.js" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.SecondName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr id="row_@id">
            <td>
                @Html.DisplayFor(model => model.User.Username)
            </td>
            <td>
                @Html.DisplayFor(model => model.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => model.User.SecondName)
            </td>
            <td>
                @Html.DisplayFor(model => model.User.Mail)
            </td>
            <td>
                @Html.DisplayFor(model => model.Role.RoleName)
            </td>
            <td>
                <a asp-action="EditUser" asp-route-id="@Model.User.UserId">Edit</a> |
                <a class="btn-danger" onclick="ConfirmDelete(@id)"> @id Delete</a>
                @*<partial name="_DeleteUserModal" model="Model.User" />*@


            </td>
        </tr>

    </tbody>
</table>


<form method="post" asp-action="DeleteConfirmed">
    <input type="hidden" name="hiddenId" id="hiddenId" />
    <div id="DeleteUserModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are you sure you want to delete this user? @id</h5>
                    <h5 class="modal-title">username @Model.User.Username</h5>
                    <input type="text" id="test"/>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" onclick="">Yes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="DeleteUser()">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    var ConfirmDelete = function (id) {
        $("test").val(id);
        $("#DeleteUserModal").modal("show");
    }
    var DeleteUser = function () {
        $("loaderDiv").show('show');
        var Id = $("#hiddenId").val();
        $.ajax({
            type: "POST",
            url: "/Administrator/Delete",
            data: { UserId: Id },
            success: function (result) {
                $("#loaderDiv").hide();
                $("#DeleteUserModal").modal("hide");
                $("#row_" + Id).remove().remove();
            }
        })
    }
</script>