@model User

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

            <tr>
                <td>
                    @Html.DisplayFor(model => model.Username)
                </td>
                <td>
                    @Html.DisplayFor(model => model.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.SecondName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Mail)
                </td>
                <td>
                    <a asp-action="EditUser" asp-route-id="@Model.UserId">Edit</a> |
                    <a asp-action="DeleteUser" asp-route-id="@Model.UserId">Delete</a>
                </td>
            </tr>
        
    </tbody>
</table>