@model RoleUserModel

<table class="table border-secondary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.SecondName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr id="row_@Model.User.UserId">
            <td>
                @Html.DisplayFor(model => model.User.Username)
            </td>
            <td>
                @Html.DisplayFor(model => model.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => model.User.SecondName)
            </td>
            <td>
                @Html.DisplayFor(model => model.User.Mail)
            </td>
            <td>
                @Html.DisplayFor(model => model.Role.RoleName)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="EditUser" asp-route-id="@Model.User.UserId">Edit</a>
                <button type="button" class="btn btn-primary" onclick="ConfirmDelete(@Model.User.UserId, '@Model.User.Username')">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

