@model KeysUnsignedDocumentViewModel
@{
    ViewData["Title"] = "Sign Document";
    TempData["Documents"] = "active";

}



<br />


<form asp-action="Sign" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="@Model.IdUnsignedDocument" value="@Model.UnsignedDocument.IdUnsignedDocument" />
    <div class="card border-secondary mb-3">
        <div class="card-header text-secondary">
            Sent from username:
            @Model.UnsignedDocument.SentFromUsername
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger">
                <span>Please correct the following errors</span>
            </div>
            <div class="form-group">
                File Name:
                @Model.UnsignedDocument.Name
            </div>
            <div class="form-group">
                Sign with key:
                <strong>@Model.Key.CertificateName</strong>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PkFile">Private key</label>
                <input asp-for="@Model.PkFile" type="file">
                <span asp-validation-for="@Model.PkFile" class="text-danger"></span>
            </div>
            <br />
            @{
                if (Model.Signature != "" && Model.Signature != null)
                {
                    <div class="alert alert-success">
                        <strong>Success!</strong> You signed your document.
                    </div>
                    <p class="font-weight-normal">Your signature:</p>
                    <textarea class="form-control" asp-for="Signature" readonly>@Model.Signature</textarea>

                    <a class="float-right" asp-controller="SignedDocuments" asp-action="SignedDocumentsFromUsers">Signed Documents</a>
                    <br />
                }
            }
            <div class="form-group">
                <input type="submit" value="Sign" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>