@model KeysUnsignedDocumentViewModel

<h1>Sign documet</h1>
<form asp-action="SignSentDocumentCard" enctype="multipart/form-data" method="post">
    <input type="hidden" name="IdUnsignedDocument" value=@Model.UnsignedDocument.IdUnsignedDocument id="IdUnsignedDocument" />
    <div class="card">
        <div class="card-header">
            Sent from username:
            @Model.UnsignedDocument.SentFromUsername
        </div>
        <div class="card-body">
            <div class="form-group">
                File Name:
                @Model.UnsignedDocument.Name
            </div>
            <div class="form-group">
                <strong>Sign with key:</strong>
                @Model.Key.CertificateName
            </div>
            <div class="form-group">
                <label asp-for="@Model.PkFile"><strong>Key you need to sign with</strong></label>
                <input asp-for="@Model.PkFile" type="file">
            </div>
            <br />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @{
                if (Model.Signature != "" && Model.Signature != null)
                {
                    <div class="alert alert-success">
                        <strong>Success!</strong> You signed your document.
                    </div>
                    <p class="font-weight-normal">Your signature:</p>
                    <textarea class="form-control" name="signature">@Model.Signature</textarea>

                }
            }
            <div class="form-group">
                <input type="submit" value="Sign" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <br>
    <a asp-controller="SignDocuments" asp-action="UnsignedDocuments">Back</a>
</form>