@model KeysUnsignedDocumentViewModel

<h1>Sign documet</h1>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Sign" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="@Model.IdUnsignedDocument" value="@Model.UnsignedDocument.IdUnsignedDocument"/>
    <div class="card">
        <div class="card-header">
            Sent from username:
            @Model.UnsignedDocument.SentFromUsername
        </div>
        <div class="card-body">
            <div class="form-group">
                File Name:
                @Model.UnsignedDocument.Name
            </div>
            <div class="form-group">
                <strong>Sign with key:</strong>
                @Model.Key.CertificateName
            </div>
            <div class="form-group">
                <label asp-for="@Model.PkFile"><strong>Private key</strong></label>
                <input asp-for="@Model.PkFile" type="file">
            </div>
            <br />

            @{
                if (Model.Signature != "" && Model.Signature != null)
                {
                    <div class="alert alert-success">
                        <strong>Success!</strong> You signed your document.
                    </div>
                    <p class="font-weight-normal">Your signature:</p>
                    <textarea class="form-control" asp-for="Signature">@Model.Signature</textarea>

                }
            }
            <partial name="_ErrorSuccessMessages" />

            <div class="form-group">
                <input type="submit" value="Sign" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>