@model UserKeysRoleModel


<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="~/images/user.png" alt="" />
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                @if (Model.User != null)
                                {
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Username</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> @Model.User.Username </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>First name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> @Model.User.FirstName </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Second name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> @Model.User.SecondName </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Mail</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> @Model.User.Mail </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Role</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> @Model.Role.RoleName</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Certificate name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Key Size
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Keys)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CertificateName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KeySize)
                        </td>
                        <td>
                            <a asp-action="EditCertificate" asp-route-id="@item.KeyId">Edit</a> |
                            <a asp-action="DeleteCertificate" asp-route-id="@item.KeyId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>

    <a class="btn btn-info btn-lg" asp-controller="Administration" asp-action="LogOut">
        <span class="glyphicon glyphicon-log-out"></span> Log out
    </a>
</div>