@model UserKeysRoleModel
@{
    ViewData["Title"] = "User";
    TempData["Profile"] = "active";
}

<script>
    function ConfirmDelete( KeyId,  CertificateName) {
        $("#KeyId").val(KeyId);
        document.getElementById("CertificateName").innerHTML = CertificateName  ;
        $("#DeleteKeyModal").modal("show");
    }
    function DeleteKey() {
        var KeyId = $("#KeyId").val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteCertificate")",
            data: { id: KeyId },
            dataType: "text",
            success: function (result) {
                $("#DeleteKeyModal").modal("hide");
                location.reload();
            }
        })
    }
</script>

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="~/images/user.png" alt="" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                @if (Model.User != null)
                                {
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Username</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> @Model.User.Username </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>First name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> @Model.User.FirstName </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Second name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> @Model.User.SecondName </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Mail</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> @Model.User.Mail </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Role</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> @Model.Role.RoleName</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.Keys.Count() != 0)
        {

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Certificate name
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Key Size
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Keys)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CertificateName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KeySize)
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-action="EditCertificate" asp-route-id="@item.KeyId">Edit</a>
                                <button type="button" class="btn btn-danger" onclick="ConfirmDelete(@item.KeyId, '@item.CertificateName')">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </form>

    <a class="btn btn-info btn-lg" asp-controller="Authenticate" asp-action="LogOut">
        <span class="glyphicon glyphicon-log-out"></span> Log out
    </a>
</div>


<div id="DeleteKeyModal" class="modal" tabindex="-1" role="dialog">
    <input type="hidden" id="KeyId" />
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p style="color:#e80c0f"><strong>Danger:</strong> If you delete this key all signed and unsigned documents linked to this key will be deleted too!!!</p>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete key : <strong><span id="CertificateName"></span></strong> ?</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <button type="submit" class="btn btn-primary" onclick="DeleteKey()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>

</div>